* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    background-image: radial-gradient(midnightblue 9px, transparent 10px),
        repeating-radial-gradient(
            midnightblue 0,
            midnightblue 4px,
            transparent 5px,
            transparent 20px,
            midnightblue 21px,
            midnightblue 25px,
            transparent 26px,
            transparent 50px
        );
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
